body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.site-container {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.item {
    border: 2px solid red;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
}

.title {
    display: block;
    margin: 0;
    padding: 0;
}

p.sol {
    margin: 0;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.butoane {
    display: flex;
    gap: 2em;
}

.tel {
    font-weight: 900;
}

.head {
    background-image: url(img/1.jpg);
    background-size: cover;
    height: 550px;
}

.cap {
    margin-left: 200px;
    margin-top: 70px;
}

h1 {
    width: 500px;
}

ol.introducere {
    font-size: 20px;
    list-style-type: none;
    padding-left: 0;
}

ol.introducere li {
    position: relative;
    padding-left: 25px;
    margin-bottom: 10px;
}

/*Bifa*/
ol.introducere li::before {
    content: "✔";
    position: absolute;
    left: 0;
    color: #007BFF;
    font-size: 1em;
}
.buton-servicii {
    background-color: #007BFF;
    border: #007BFF 2px solid;
    border-radius: 10%;
    width: 139px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    color: white;
}

span.servicii {
    color: white;
}

.buton-servicii:hover {
    background-color: white;
    border: 2px #007BFF solid;
    color: black;
}

.buton-servicii:hover span.servicii {
    color: black;
}

/* info */

.info {
    max-width: 1140px;
    width: 100%; 
    display: block;
    justify-content: center;
    margin-top: 30px !important ;
    margin: 0 auto;
}
.img {
    width: 100%;
}
.serv {
    margin-top: 70px;
}
h2.serv {
    text-align: center;
    font-size: 200%;
}
.serv-info {
    max-width: 1140px;
    width: 100%; 
    border: 2px solid red;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    gap: 2em;
}
.itemul {
    position: relative;
    max-width: 370px;
    width: 100%;
    height: 100% ;
    border: 2px green solid;
    box-sizing: border-box;
}
.titlu-serv {
    text-align: center;
}
.lista {
    margin-top: 50px;
}
.item4, .item5, .item6 {
    height: 230px !important;
    padding-left: 20px;
    padding-right: 20px;
}
.some-info {
    text-align: start;
}
.lista-serv{
    position: absolute;
    top: 100px;
    padding: 0;
}
ol.lista-serv li {
    list-style: none;
    position: relative; 
    padding-left: 30px; 
}
ol.lista-serv li::before {
    content: "✔";
    position: absolute;
    left: 0;
    color: #007BFF;
    font-size: 1em;
}
