body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.site-container {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.item {
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    position: fixed;
}

.title {
    display: block;
    margin: 0;
    padding: 0;
}

p.sol {
    margin: 0;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.butoane {
    display: flex;
    gap: 2em;
}
.but1:hover {
    color: #007BFF;
}
.but2:hover {
    color: #007BFF;
}
.but3:hover {
    color: #007BFF;
}
.but4:hover {
    color: #007BFF;
}
.but5:hover {
    color: #007BFF;
}

.tel {
    font-weight: 900;
}

.head {
    background-image: url(img/1.jpg);
    background-size: cover;
    height: 550px;
}

.cap {
    margin-left: 200px;
    margin-top: 70px;
}

h1 {
    width: 500px;
}

ol.introducere {
    font-size: 20px;
    list-style-type: none;
    padding-left: 0;
}

ol.introducere li {
    position: relative;
    padding-left: 25px;
    margin-bottom: 10px;
}

/*Bifa*/
ol.introducere li::before {
    content: "✔";
    position: absolute;
    left: 0;
    color: #007BFF;
    font-size: 1em;
}
.buton-servicii {
    background-color: #007BFF;
    border: #007BFF 2px solid;
    border-radius: 10%;
    width: 139px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    color: white;
}

span.servicii {
    color: white;
}

.buton-servicii:hover {
    background-color: white;
    border: 2px #007BFF solid;
    color: black;
}

.buton-servicii:hover span.servicii {
    color: black;
}

/* info */

.info {
    max-width: 1140px;
    width: 100%; 
    display: block;
    justify-content: center;
    margin-top: 30px !important ;
    margin-bottom: 70px !important;
    margin: 0 auto;
}
.img {
    width: 100%;
}
.serv {
    margin-top: 70px;
}
h2.serv {
    text-align: center;
    font-size: 200%;
}
.serv-info {
    max-width: 1140px;
    width: 100%; 
    /*border: 2px solid red;*/
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    /*gap: 2em;*/
}
.itemul {
    position: relative;
    max-width: 370px;
    width: 100%;
    height: 100% ;
    box-sizing: border-box;
}
.titlu-serv {
    text-align: center;
}
.lista {
    margin-top: 10px;
}
.item4, .item5, .item6 {
    height: 300px !important;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow:
            0 4px 6px rgba(0, 0, 0, 0.1),  /* Bottom*/
            -4px 0 6px rgba(0, 0, 0, 0.1), /* Left*/
            4px 0 6px rgba(0, 0, 0, 0.1);  /* Right*/;
}
.item1, .item2, .item3 {
    font-size: 17px;

    box-shadow:
            0 -4px 6px rgba(0, 0, 0, 0.1),  /* top */
            -4px 0 6px rgba(0, 0, 0, 0.1), /* Left*/
            4px 0 6px rgba(0, 0, 0, 0.1);  /* Right*/
}
.some-info {
    text-align: start;
}
.lista-serv{
    position: absolute;
    top: 100px;
    padding: 0;
    /*border: 2px solid red;*/
    line-height: 2;
}
ol.lista-serv li {
    list-style: none;
    position: relative; 
    padding-left: 30px; 
}
ol.lista-serv li::before {
    content: "✔";
    position: absolute;
    left: 0;
    color: #007BFF;
    font-size: 1em;
}
.telefon {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    height: 700px;
}
.img-tel {
    width: 500px;
    height: 700px;
}
div.contacte {
    display: flex;
    flex-direction: column;
    width: 500px;
}
.buton-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007BFF;
    border: #007BFF 2px solid;
    border-radius: 10%;
    width: 139px;
    height: 42px;
}
span.contact {
    color: white;
}
h3.some-text {
    font-size: 2em;
}
.info-nume {
    display: flex;
    justify-content: space-between;

}
.name {
    font-weight: bold;
    font-size: 1em;
    border-top:none;
    border-right:none;
    border-left:none;
    border-buttom: gry 1px solid;
}
.email {
    font-weight: bold;
    font-size: 1em;
    margin-top: 40px;
    border-top:none;
    border-right:none;
    border-left:none;
    border-buttom: gry 1px solid;
}
.phone {
    font-weight: bold;
    font-size: 1em;
    margin-top: 40px;
    border-top:none;
    border-right:none;
    border-left:none;
    border-buttom: gry 1px solid;
}
.buton-contact {
    margin-top: 40px;
}
.footer {
    background-color: dimgrey;
    height: 200px;
}
.adress {
    margin-top: 40px;
    font-weight: bold;
    font-size: 1em;
    display: flex;
    justify-content: space-around;
}
.img-mici {
    height: 30px;
    width: 30px;
}
.title-copyright {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}
span.servicii {
    color: white;
}

.buton-contact:hover {
    background-color: white;
    border: 2px #007BFF solid;
    color: black;
}

.buton-contact:hover span.contact {
    color: black;
}



